{% extends "base.html" %}
{% block css %}
{% endblock%}
{% block javascript %}
{% endblock %}
{% block title %} Home {% endblock %}
{% block page-content %}
    <div class="images_stream span7 offset2">
        {% for product in products %}
            <div class="product_item">
                <div class="product_name">
                    {{ product.name }}
                </div>
                <img src="{{ product.thumbnail}}" class="image-polaroid" style="height: 368px;">
                <div class="product_bottom">
                    <div class="product_price">
                        {{ product.price }}
                    </div>
                    <div class="btn_buy">
                        <a href="{% url 'pesapal:buy' product.product_id %}" class="btn btn-primary" >Buy</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
